<!DOCTYPE HTML>
<html>
    <head>
      <style>
        .top3{
          position: absolute;
          top: 52%;
          left: 10%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      </style>
      <link rel="stylesheet" type="text/css" href="linkMenu.css" />
    </head>
    <div>
      <ul style="font-family:verdana" class = 'menu'>
        <nav role ="navigation">
          <li class = 'list'>
            <a href="/">Main Menu</a>
          </li>
          <li class = 'list'>
            <a href="/customers">Customers</a>
          </li>
          <li class = 'list'>
            <a href="/greekhouses">Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/orders">Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products_greekhouses">Products and Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/products_orders">Products and Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products">Products</a>
          </li>
        </nav>
      </ul>
    </div>
    <div class = "top3">
    <body>
      <h1>Orders</h1>
        <form id ="addOrder" action="/orders" method="post">
            <p>Customer ID</p>
            <input type="text" name = "customerID">
            <p>shipStreet</p>
            <input type="text" name = "shipStreet">
            <p>shipCity</p>
            <input type="text" name = "shipCity">
            <p>shipState</p>
            <input type="text" name = "shipState">
            <p>shipZip</p>
            <input type="text" name = "shipZip">
            <p>ADD TO TABLE</p>
            <input type = "submit" value = "Submit">
        </form>

    </body>
  </div>
    <div class = "top2">
      <body>
        <h1>Table</h1>
        <table>
          <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Shipping Street</th>
            <th>Shipping City</th>
            <th>Shipping State</th>
            <th>Shipping Zip Code</th>
            <th>Delete</th>
          </tr>

          {{#each results}}
          <tr>
            <td>{{orderID}}</td>
            <td>{{customerID}}</td>
            <td>{{shipStreet}}</td>
            <td>{{shipCity}}</td>
            <td>{{shipState}}</td>
            <td>{{shipZip}}</td>
            <td><button onclick="deleteOrders({{orderID}})">Delete</button></td>
          </tr>
          {{/each}}
        </table>
    </div>
</html>
