<!DOCTYPE HTML>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="linkMenu.css" />
      <style>
        .top4{
          position: absolute;
          top: 40%;
          left: 20%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      </style>
    </head>
    <div>
      <ul style="font-family:verdana" class = 'menu'>
        <nav role ="navigation">
          <li class = 'list'>
            <a href="/">Main Menu</a>
          </li>
          <li class = 'list'>
            <a href="/customers">Customers</a>
          </li>
          <li class = 'list'>
            <a href="/greekhouses">Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/orders">Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products_greekhouses">Products and Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/products_orders">Products and Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products">Products</a>
          </li>
        </nav>
      </ul>
    </div>
    <div class = "top4">
    <body>
      <h1>Products and Orders</h1>
        <form id ="addProductsOrders" action="/products_orders" method="post">
            <p>orderID</p>
            <input type="text" name = "orderID">
            <p>productID</p>
            <input type="text" name = "productID">
            <p>productQty</p>
            <input type="text" name = "productQty">
            <p>ADD TO TABLE</p>
            <button type = "submit" value = "Submit">Add to Table</button>
        </form>
      
    </body>
  </div>
      <div class = "top2">
        <body>

          <h1>Table</h1>
          <table>
            <tr>
              <th>Order ID</th>
              <th>Product ID</th>
              <th>Product Quantity</th>
              <th>Delete</th>
            </tr>

            {{#each results}}
            <tr>
              <td>{{orderID}}</td>
              <td>{{productID}}</td>
              <td>{{productQty}}</td>
              <td><button onclick="deleteProductsOrders({{orderID}}, {{productID}})">Delete</button></td>
            </tr>
            {{/each}}
            </table>
        </body>
        <br>
        <button>Update</button>
      </div>
</html>
